.carousel__card {
  background: #fafafa;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  width: 947px;
  height: auto;
  padding: .4em;
  margin: 0 auto;

  .carousel__body {
    display: flex;
    justify-content: space-evenly;

    .carousel__content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .quote {
        width: 462px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
        color: #bdbdbd;
        display: flex;
        text-align: left;
      }

      .profile {
          text-align: left;
        .profile-head {
          width: 230px;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 40px;
          color: #3f3356;
        }

        .profile-title {
          width: 380px;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          color: #969696;
          text-align: left;
        }
      }
    }
  }
}
